.container{
    width: 50%;
}
#map{
    height: 50vh;
    margin-bottom: 10px;
    display: none;
}

#locationList .card{
    padding: 10px;
}

#toast-container{
  top: 50%;
  bottom: unset;
}
.toast{
  background-color: rgba(0,0,0,.8);
}
.btn i{
  font-size: 1rem;
  margin-right: 2px;
}


.navigation{
  display: flex;
  width: 100%;
  align-items: center;
  left: 0;
  height: 55px;
  position: absolute;
  bottom: 0px;
}

.nav_home, .nav_user{
  width: 50%;
  display: flex;
  justify-content: center;
}

.nav_home:hover, .nav_user:hover{
  cursor: pointer;
  color: #cc22cc;
}

@media only screen and (min-width: 768px){
  .container{
      width: 80%;
      max-width: 800px;
  }
}

@media only screen and (max-width: 500px){
  .container{
    width: 95%;
  }
}