.nav_container{
    display: flex;
    width: 100%;
    align-items: center;
    left: 0;
    height: 55px;
    position: absolute;
    bottom: 0px;
}

.nav_home, .nav_user{
    width: 50% !important;
}

.nav_home:hover, .nav_user:hover{
    cursor: pointer;
    color: #cc22cc;
}
